<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p> 

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<div id="comments">
  <% if @post.comments.present? %>
    <h2>Comments</h2>
  <% end %>
  <%= render @post.comments %>
  <p>Add a comment</p> 
  <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
